table.animals-table {
  margin: auto;
  border-collapse: collapse;
  width: 30%;
}

td:not(.act), th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table.animals-table i:hover {
  opacity: 0.5;
  cursor: pointer;
}

table.animals-table a {
  color: gray;
}
