<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="<%= css %>" rel="stylesheet">
  </link>
  <link href="/css/general.css" rel="stylesheet">
  </link>
  <script src="https://kit.fontawesome.com/91e746a27a.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/animal">Animal</a></li>
    </ul>
  </nav>
  <main>
